@font-face {
    font-family: Newake;
    src: url("../fonts/Newake-Font-Demo.otf");

}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: Newake; */
    /* letter-spacing: 0.5px; */
    color: whitesmoke
}

div {
    font-size: 90.5%;
}

h1 {
    font-family: Newake;
    letter-spacing: 1px;
    background: radial-gradient(pink, white, pink);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

h2 {
    text-align: center;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    /* background-color: rgb(38, 40, 53) */
    background-image: radial-gradient(rgb(38, 40, 53), rgb(75, 80, 116));
}

#center {
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: blanchedalmond;
    border-radius: 25%;
    border-width: 2px;
    height: calc(max(20px, 4vh));
    margin-inline: 5vw;
    width: calc(max(100px, 6vw));
}

#contentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#elementDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

#footerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 200px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}