{
	debug
}
aedanm.uk {
	reverse_proxy localhost:8080
}

files.aedanm.uk {
	reverse_proxy localhost:9000
}

immich.aedanm.uk {
	reverse_proxy localhost:2283
}

192.168.1.99 {
	reverse_proxy localhost:8080
}