#MediaContentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#DescriptionSpan {
    width: 0.5vw;
}

#MediaLogoImg {
    border-radius: 45%;
    width: 75px;
    height: 75px;
    object-fit:scale-down;
    background-color: #03070f;
}

#MediaImg {
    border-radius: 45%;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.tag {
    margin: 2px;
}

#MediaLink {
    text-decoration: none;
    color: whitesmoke;
}

#GenreTag {
    text-decoration: none;
    color: whitesmoke;
}

.checked {
    color: orange;
}

.ViewImage{
    max-width: 50%;
}

.ViewHeader{
    text-align: center;
}