#MediaContentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#DescriptionSpan {
    width: 0.5vw;
}

#MediaLogoImg {
    border-radius: 45%;
    width: 75px;
    height: 75px;
    object-fit:scale-down;
    background-color: #03070f;
}

#MediaImg {
    border-radius: 45%;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.tag {
    margin: 2px;
}

#MediaLink {
    text-decoration: none;
    color: whitesmoke;
}

#GenreTag {
    text-decoration: none;
    color: whitesmoke;
}

.checked {
    color: orange;
}

.ViewImage{
    max-width: 50%;
}

.ViewHeader{
    text-align: center;
}

.tableHeading {
    text-decoration: None;
    color: hsl(219, 7%, 82%);
    
}

.tv-logo {
    max-height: 15vh;
    object-fit: cover;
    background-color: #03070f;
}

.movie-logo {
    max-height: 25vh;
    object-fit: cover;
    background-color: #03070f;
    transition: all .2s ease-in-out;
}

.card {
    width: 10vw;
    min-height: 30vh;
}


.genre-badge-dark {
    margin: 0.05rem;
    background-color: #3f474f !important;
}
.genre-badge{
    margin: 0.05rem;
}

.clean-link {
    text-decoration: none;
    color: inherit;
}

.linkIcon {
    font-size: 1rem;
}

.card {
    min-width: 10vw;
}

.step-links {
    font-size: 1.5rem;
}

@media screen and (max-width:1000px) {
    .card {
        min-width: 15vw;
    }
}

@media screen and (max-width:500px) {
    .card {
        min-width: 30vw;
    }
    .linkIcon{
        font-size: 0rem;
        margin: 0.01rem;
    }
    .movie-logo{
        max-height: 25vw;
    }
    .step-links{
        font-size: auto;
    }
    body{
        font-size: 0.5rem;
    }
}




.clean-button {
    outline:none;
    background-color: inherit;
    color: inherit;
    border: none;
    border-radius: 0%;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font:inherit;
}


.grow {
    transition: all .2s ease-in-out;
}


.grow:hover {
    transform: scale(1.1);
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}