summary {
    font-size: 150%;
}

ul:before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
    margin-left: -15px;
}

.FlexWide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section{
    width: 100px;
}