{% load static %} {% load resumeTags %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Aedan's Page</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.css"
		/>
		<link rel="stylesheet" href="{% static 'styles/MasterStyle.css' %}" />
		<link rel="stylesheet" href="{% static 'styles/ResumeStyle.css' %}" />
	</head>

	<body>
		<main class="container">
			<header class="FlexWide">
				<div>
					<h1>Aedan McHale</h1>
					<p>Electrical Engineer</p>
				</div>
				<div>
					<p>🇬🇧 +44 75199 47712</p>
					<p>🇺🇸 +1 (848) 220-0420</p>
				</div>
			</header>
			<hr>
			<section title="Skills">
				<details>
					<summary>Languages and Skills</summary>
					<fieldset role="group">
						{% for p in ProfLevels reversed %}
							{% if p != "Never Used"%}
								<div class ="VertAlign">
									<h3>{{p}}</h3>
									<div class="ProfLevel">	
										{% for tool in Tools %}
											{%if tool.Proficiency == p%}	
												{%if tool.Skill_Type == "Language"%}	
													<p class="skill lang">{{tool.Name}}</p>
												{%elif tool.Skill_Type == "Program"%}
													<p class="skill program">{{tool.Name}}</p>
												{%else%}
													<p class="skill tool">{{tool.Name}}</p>
												{%endif%}
											{%endif%}
										{%endfor%}
									</div>
								</div>
							{%endif%}
						{%endfor%}
					</fieldset>
			</section>
			<hr>
			<section title="Work History">
				<details open>
					<summary>Experience</summary>
					{% for job in Employment %}
					<section>
						<h3>{{job.Employer}}</h3>
						
						<div class="FlexWide">
							<div>

								<p>{{job.Job_Title}}</p>

								<p>
									{{job.Start_Year}} - {% if job.End_Year > 0%} {{job.End_Year}} {% else %} Present {%endif%}
								</p>
							</div>

							<div class="HorzAlign">

								<div>
									<ul class="Label"  aria-label="Responsibilities">
									{% for resp in job.Responsibilities|split:','%}
										<li>{{resp}}</li>
									{% endfor %}
									<ul>
								</div>

								<div>
									<ul class="Label" aria-label="Skills Gained">
									{% for resp in job.Skills_Gained|split:','%}
										<li>{{resp}}</li>
									{% endfor %}
									<ul>
								</div>

							</div>
						</div>
					</section>
					<hr />
					{%endfor%}
				</details>
			</section>
			<hr>
			<section title="Education History">
				<details>
					<summary>Qualifications</summary>
					{% for edu in Education %}
					<section>
						<h3>{{edu.Qualification}}</h3>
						<p>{{edu.Qualification_Level}}</p>
						<div class="FlexWide">
							<p>{{edu.Institution}}</p>

							<p>
								{{edu.Start_Year}} - {% if edu.End_Year > 0 %} {{edu.End_Year}} {% else %} Present {%endif%}
							</p>
						</div>
					</section>
					<hr />
					{%endfor%}
				</details>
			</section>
			<hr>
			<footer id="footerDiv">
				<section>
					<h2>Contact Me</h2>
					<a href="mailto:aedan.mchale@gmail.com"
						><img id="footerImg" src={%static "images/gmail.png" %} alt="Gmail" /></a
					>
					<a href="https://codestats.net/users/AedanM"
						><img id="footerImg" src={%static "images/codestats.svg" %}
						alt="CodeStats" /></a
					>
					<a href="https://www.twitter.com/AedanM"
						><img id="footerImg" src={%static "images/twitter.png" %} alt="Twitter"
						/></a
					>
					<a href="https://github.com/AedanM"
						><img id="footerImg" src={%static "images/github.png" %} alt="GitHub"
						/></a
					>
					<a href="https://www.linkedin.com/in/AedanMcHale"
						><img id="footerImg" src={%static "images/linkedin.png" %} alt="LinkedIn"
						/></a
					>
				</section>
			</footer>
		</main>
	</body>
</html>