{% load static %}
{% load DictTags %}
<!DOCTYPE html>
<html data-bs-theme="{{ colorMode }}" data-theme="{{ colorMode }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Aedan's Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'styles/MasterStyle.css' %}" />
  </head>

  <body class="pico">
    <main class="container pico" style="height: 100%;">
      <header>
        <nav>
          <ul>
            <li>
              <a href="/blog" class="clean-link"><strong>Thoughts and Rants</strong></a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/resume">About</a>
            </li>
            <li>
              <a href="/media">Media DB</a>
            </li>
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </nav>
      </header>
      <hr />
      <div style="padding: 1vh;">
        <p>This is a random collection of thoughts, ideas and rants I have.</p>
        <p>All opinions are my own and likely wrong, if you disagree or want to argue, my inboxes are always open.</p>
      </div>
      <hr />
      <div style="">
        {% for post in posts %}
          <details open>
            <summary>
              <a style="text-decoration: none;" href="/blog/{{ post|Get:'url' }}"><strong>{{ post|Get:'title' }}</strong></a>
            </summary>
            <div style="display: flex; flex: auto; flex-direction: row; align-items: center">
              <div style="flex-grow: 1">{{ post|Get:'summary' }}</div>
              <div class="text-end" style="text-align:right">
                {{ post|Get:'creation_date' }}<br />
                <em>
                  {% for tag in post|Get:'tags' %}
                    <a class="clean-link" href="/blog?tag={{ tag }}">{{ tag }}</a>
                  {% endfor %}
                </em>
              </div>
            </div>
          </details>
          <hr class="bg-primary border-2 border-top border-primary" />
        {% endfor %}
      </div>
      <footer class="pico" id="footerDiv" style="padding-top: 5vh;">
        <section>
          <h2>Contact Me</h2>
          <a href="mailto:aedan.mchale@gmail.com"><img id="footerImg" src="{% static 'images/gmail.png' %}" alt="Gmail" /></a>
          <a href="https://codestats.net/users/AedanM"><img id="footerImg" src="{% static 'images/codestats.svg' %}" alt="CodeStats" /></a>
          <a href="https://bsky.app/profile/aedanm.bsky.social"><img id="footerImg" src="{% static 'images/bluesky.png' %}" alt="Bluesky" /></a>
          <a href="https://github.com/AedanM"><img id="footerImg" src="{% static 'images/github.png' %}" alt="GitHub" /></a>
          <a href="https://www.linkedin.com/in/AedanMcHale"><img id="footerImg" src="{% static 'images/linkedin.png' %}" alt="LinkedIn" /></a>
        </section>
      </footer>
    </main>
  </body>
</html>
