{% load static %}
<!DOCTYPE html>
<html data-bs-theme="{{ colorMode }}" data-theme="{{ colorMode }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Form - {{ form.Title.value }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.css" />
    <link rel="stylesheet" href="{% static 'styles/MasterStyle.css' %}" />
  </head>
  <body>
    <h1>New Contents Form</h1>
    <div class="contentDiv">
      <form action="" method="post">
        <div class="Centered">
          {% csrf_token %}
          <table style="height: 120vh;">{{ form.as_table }}</table>

          {% if wikiLink %}
            <iframe style="width : 40vw; height: 120vh;" src="{{ wikiLink }}"></iframe>
          {% endif %}
        </div>
        <input type="submit" value="Save" name="Save Button" />
      </form>
    </div>
  </body>
</html>
