{% load static %} {% load DictTags %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="iso-8859-15" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Media Server Description</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="{% static 'styles/MasterStyle.css' %}" />
		<link rel="stylesheet" href="{% static 'styles/MediaStyle.css' %}" />
	</head>
	<body>
		<main class="container">
			<header class="pico">
				<nav>
					<ul>
						<li>
							<strong>Aedan's Media Server</strong>
						</li>
					</ul>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/admin">Admin</a>
						</li>
					</ul>
				</nav>
			</header>
			<h2>Current Files</h2>

			{% if Graphs %} {% with imgLink=MediaTypes|MakeChart:"Count" %}
			<img src="{% static imgLink %}" />
			{%endwith%} {% with imgLink=MediaTypes|MakeChart:"Duration" %}
			<img src="{% static imgLink %}" />
			{%endwith%} {% endif %}

			<span id="DescriptionSpan">
				{% for title, media in MediaTypes.items %}
				<div id="contentDiv">
					<details>
						<summary>{{title}} ({{media|length}})</summary>
						<div>
							<button onclick="document.location='/media/new?type={{title}}'">
								Add New
							</button>
						</div>
						<table class="striped sortable">
							<thead>
								<td>Logo</td>

								{% if media|HasAttr:"Creator" %}
								<td>Creator</td>
								{%endif%} {% if media|HasAttr:"Author" %}
								<td>Author</td>
								{%endif%} {% if media|HasAttr:"Company" %}
								<td>Company</td>
								{%endif%} {% if media|HasAttr:"Character" %}
								<td>Character</td>
								{%endif%}

								<td>Title</td>
								<td>Rating</td>
								{% if media|HasAttr:"Year" %}
								<td>Year</td>
								{%endif%} {% if media|HasAttr:"Length" %}
								<td>Seasons</td>
								{%endif%} {% if media|HasAttr:"Duration" %}
								<td>Duration</td>
								{% else %}
								<td>Pages</td>
								{%endif%}

								<td>Downloaded</td>

								{% if media|HasAttr:"Watched" %}
								<td>Watched</td>
								{% endif %} {% if media|HasAttr:"Read" %}
								<td>Read</td>
								{% endif %}
								<td>Genre</td>
							</thead>
							{% for show, img in media.items %}
							<tr>
								<td id="MediaLogo">
									<a href="{{show.InfoPage}}">
										{% if show|ModelType != "TVShow" %}
										<img id="MediaImg" src="{% static img %}" alt="{{show.Title}}" />
										{% else %}
										<img id="MediaLogoImg" src="{% static img %}" alt="{{show.Title}}" />
										{% endif %}
									</a>
								</td>
								{% if media|HasAttr:"Creator" %}
								<td>
									<a id="GenreTag" href="/media?genre={{show.Creator}}">
										{{show.Creator}}
									</a>
								</td>
								{%endif%} {% if media|HasAttr:"Author" %}
								<td>
									<a id="GenreTag" href="/media?genre={{show.Author}}">
										{{show.Author}}
									</a>
								</td>
								{%endif%} {% if media|HasAttr:"Company" %}
								<td>
									<a id="GenreTag" href="/media?genre={{show.Company}}">
										{{show.Company}}
									</a>
								</td>
								{%endif%} {% if media|HasAttr:"Character" %}
								<td>
									<a id="GenreTag" href="/media?genre={{show.Character}}">
										{{show.Character}}
									</a>
								</td>
								{%endif%}
								<td>
									<a id="MediaLink" href="/media/view?id={{show.id}}">
										{{show.Title}}
									</a>
								</td>
								<td>{{show.Rating|rating}}</td>
								{% if media|HasAttr:"Year" %}
								<td>{{show.Year}}</td>
								{%endif%} {% if media|HasAttr:"Length" %}
								<td>{{show.Length}}</td>
								{%endif%} {% if media|HasAttr:"Duration" %}
								<td>{{show.Duration}}</td>
								{% else %}
								<td>{{show.PageLength}}</td>
								{%endif%} {% if show.Downloaded %}
								<td
									align="center"
									style="text-align: center; font-size: 150%; font-weight: bold"
								>
									<a
										href="/media/setDownloaded?contentId={{show.id}}"
										style="color: green; text-decoration: none"
									>
										&#10004;
									</a>
								</td>
								{% else %}
								<td
									align="center"
									style="text-align: center; font-size: 150%; font-weight: bold"
								>
									<a
										href="/media/setDownloaded?contentId={{show.id}}"
										style="color: red; text-decoration: none"
									>
										&#10007;
									</a>
								</td>
								{% endif %} {% if media|HasAttr:"Watched" %} {% if show.Watched %}
								<td
									align="center"
									style="text-align: center; font-size: 150%; font-weight: bold"
								>
									<a
										href="/media/setWatched?contentId={{show.id}}"
										style="color: green; text-decoration: none"
									>
										&#10004;
									</a>
								</td>
								{% else %}
								<td
									align="center"
									style="text-align: center; font-size: 150%; font-weight: bold"
								>
									<a
										href="/media/setWatched?contentId={{show.id}}"
										style="color: red; text-decoration: none"
									>
										&#10007;
									</a>
								</td>
								{% endif %} {% endif %} {% if media|HasAttr:"Read" %} {% if show.Read %}
								<td
									align="center"
									style="
										text-align: center;
										font-size: 150%;
										font-weight: bold;
										color: green;
									"
								>
									&#10004;
								</td>
								{% else %}
								<td
									align="center"
									style="
										text-align: center;
										font-size: 150%;
										font-weight: bold;
										color: red;
									"
								>
									&#10007;
								</td>
								{% endif %} {% endif %}
								<td>
									<details>
										<summary>{{ show.GenreTagList|length }} Tags</summary>
										{% for genre in show.GenreTagList %}
										<a id="GenreTag" href="/media?genre={{genre}}">
											{% if not forloop.last%} {{genre}}, {% else %} {{genre}} {% endif %}
										</a>
										{% endfor %}
									</details>
								</td>
							</tr>

							{% endfor %}
						</table>
					</details>
				</div>
				{% endfor %}
			</span>
			<button onclick="document.location='/media'">Clear Tags</button>
		</main>
	</body>
</html>
