#MediaContentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#DescriptionSpan {
    width: 0.5vw;
}

#MediaLogoImg {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit:cover;
}


#MediaLink {
    text-decoration: none;
    color: whitesmoke;
}

#GenreTag {
    text-decoration: none;
    color: whitesmoke;
}