/* Base setup */
.rate {
    display: inline-block;
    border: 0;
}

/* Hide radio */
.rate>input {
    display: none;
}

/* Order correctly by floating highest to the right */
.rate>label {
    float: right;
}

/* The star of the show */
.rate>label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .28rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
}

.rate .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;
}

input:checked~label,
label:hover,
label:hover~label {
    color: #e4c900;
}

input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label
    {
    color: #f5f56b;
}


.rating {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    color: #e4c900;
    font-family: FontAwesome;
    }

.rating::before {
    content: "\f005  \f005  \f005  \f005  \f005";
}